.game-wrapper{
    width: inherit; 
    height: 100%;
    display: flex;
    flex-direction: column;
}

.back-button-wrapper{
    width: inherit;
    height: 100%;
    padding: var(--spacer-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button{
    font-size: var(--square);
    outline: 0;
}

.back-button:focus,
.back-button:hover{
    color: var(--accent-mid);
}

.board{
    display:flex;
    justify-content: center;
    align-items: center;
}

.instructions{
    width: calc(var(--square) * 0.75);
    height: calc(var(--square) * 0.75);
}

.board-row{
    flex-direction: row;
    height: 100%;
}

.board-col{
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    transition: width height 1s;
}
/* 
Flips board at different turn
switch other to board-col-one
.board-col-two{
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    transition: width height 1s;
} */

.square{
    height: var(--square);
    width: var(--square);
    min-width: var(--square);
    outline: 0;
}



.square.one:focus{
    outline: 2px solid var(--accent-light);
    border: 1px solid var(--accent-light);
    z-index: 1;
}

.square.two:focus{
    outline: 2px solid var(--accent-dark);
    z-index: 1;
    border: 1px solid var(--accent-dark);
}

.square:nth-child(odd){
    background-color: var(--black);
    border: 1px solid var(--black);
}

.square:nth-child(even){
    background-color: var(--white);
    border: 1px solid var(--black);
}

.piece_wrapper{
    width: inherit;
    height: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.piece{
    width: var(--square);
    height: var(--square);
    transition: transform 1s ease;
    overflow: hidden;
}

.one{
    color: var(--accent-light);
}

.two{
    color: var(--accent-dark);
}

.bishop{
    height: calc(var(--square) - 8px);
    position: relative;
    top: 4px;
}
.queen{
    position: relative;
    top: 6px;
}

.active.one{
    outline:4px solid var(--accent-light) !important;
    z-index: 6 ;
    border: 1px solid var(--accent-light);
    position: relative;
}

.active.two{
    outline:4px solid var(--accent-dark)!important;
    z-index: 6 ;
    border: 1px solid var(--accent-dark);
    position: relative;
}

.board-col{
    margin-bottom: var(--spacer-med);
}