@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

:root{
    --bg: #defcec;
    --accent-dark:#f069aa;
    --accent-light: #69f06b;
    --accent-mid:#dd257c;
    --accent-alert: #FF3D00;
    --white: #fff;
    --black: #000;

    --spacer-sm: 0.8rem;
    --spacer-med: 1rem;

    --square: 50px;

    --font: 'Playfair Display', serif;
}

@media all and (max-width: 450px){
    :root{
        --spacer-sm: 0.9rem;
        
    }

}

/* @media all and (min-width: 450px){
    :root{
        --square: calc(100vw / 20);
    }

} */

@media all and (min-width: 800px){
    :root{
        --square: calc(100vw / 20);
        --spacer-med: 1.2rem;
    }
}


