@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

:root{
    --dark-gray: #424242;
    --light-grey: #f1f1f1;
    --accent-mid: #f2f2f2;
    --colors-accent-mid: #512da8;
    --accent-dark: #00d49b;
    --accent-mid: #35fdd8;  
    --accent-light: #f9a825;
    --accent-alert: hsla(342, 100%, 42%, 90%);
    --white: #fff;
    --black: #000;

    --spacer-sm: 0.8rem;
    --spacer-med: 1rem;

    --font: 'Playfair Display', serif;
}

@media all and (max-width: 450px){
    :root{
        --square: 50px;
        --spacer-sm: 0.9rem;
        
    }

}

@media all and (min-width: 450px){
    :root{
        --square: calc(100vw / 20);
    }

}

@media all and (min-width: 700px){
    :root{
        --square: calc(100vw / 20);
        --spacer-med: 1.2rem;
    }
}


