@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

:root{
    --bg: #defcec;
    --accent-dark:#302bb4;
    --accent-light:#afb42b;
    --accent-mid:#302bb4;
    --white: #fff;
    --black: #000;

    --spacer-sm: 1rem;
    --spacer-med: 1.25rem;

    --square: 3rem;

    --font: 'Playfair Display', serif;
    --line-spacing: calc(var(--spacer-sm) * 1.4);
}


@media all and (min-width: 800px){
    :root{
        --square: 4rem;
        --spacer-med: 1.5rem;
    }
}


