header{
    display: flex;
    height: (--square);
    width: inherit;
    justify-content: center;
    align-items: center;
    padding: var(--spacer-med);

    color: var(--colors-light-grey);

}

.play-button-wrapper{
    display: flex;
    width: inherit; 
    justify-content: center;
    align-items: center;
}