header{
    display: flex;
    height: (--square);
    width: inherit;
    justify-content: center;
    align-items: center;
    padding: var(--spacer-med);
    padding-top: 0;
    color: var(--black);
}

h1{
    padding: var(--spacer-sm) 0;
    text-align: center;
    font-size: 8vw;
    letter-spacing: var(--spacer-tiny);
}

.play-button-wrapper{
    display: flex;
    width: inherit; 
    justify-content: center;
    align-items: center;
}

.play-button-wrapper button{
    margin: 0;
}

.play-button-wrapper button:first-of-type:focus,
.play-button-wrapper button:first-of-type:hover{
    background-color: var(--white);
    color: var(--accent-mid);
}


.play-button-wrapper button:first-of-type{
    background-color: var(--accent-mid);
    border-right: 0;
}

.play-button-wrapper button:last-of-type:focus,
.play-button-wrapper button:last-of-type:hover{
    border-left: 2px solid var(--black);
}


@keyframes jump{
    0%{
       top: 0;
       left: 0vw; 
    }
    1%{
        top: 0;
        left: 1vw;
    }
    5%{
        transform: scale(.9,1.1);
        top: -20px;
        left: 5vw;
    }
    6%{
        transform: scale(1.05,.95);
    }
    10%{
        transform: scale(1,1);
        top: 0px;
        left: 10vw;
    }
    11%{
        top: 0px;
        left: 10vw;
    }
    15%{
        transform: scale(.9,1.1);
        top: -20px;
        left: 15vw;
    }
    16%{
        transform: scale(1.05,.95);
    }
    20%{
        transform: scale(1,1);
        top: 0;
        left: 20vw;
    }
    21%{
        top: 0;
        left: 20vw;
    }
    25%{
        transform: scale(.9,1.1);
        top: -20px;
        left: 25vw;
    }
    26%{
        transform: scale(1.05,.95);
    }
    30%{
        transform: scale(1,1);
        top: 0;
        left: 30vw;
    }
    31%{
        top: 0;
        left: 30vw;
    }
    35%{
        transform: scale(.9,1.1);
        top: -20px;
        left: 35vw;
    }
    36%{
        transform: scale(1.05,.95);
    }
    40%{
        transform: scale(1,1);
        top: 0;
        left: 40vw;
        
    }
    41%{
        top: 0;
        left: 40vw;
        
    }
    45%{
        transform: scale(.9,1.1);
        top: -20px;
        left: 45vw;
    }
    46%{
        transform: scale(1.05,.95);
    }
    50%{
        transform: scale(1,1);
        top: 0;
        left: 50vw;
        
    }
    51%{
        top: 0;
        left: 50vw;
        
    }
    55%{
        transform: scale(.9,1.1);
        top: -20px;
        left: 55vw;
    }
    56%{
        transform: scale(1.05,.95);
    }
    60%{
        transform: scale(1,1);
        top: 0;
        left: 60vw;
        
    }
    61%{
        top: 0;
        left: 60vw;
        
    }
    65%{
        transform: scale(.9,1.1);
        top: -20px;
        left: 65vw;
    }
    66%{
        transform: scale(1.05,.95);
    }
    70%{
        transform: scale(1,1);
        top: 0;
        left: 70vw;
        
    }
    71%{
        top: 0;
        left: 70vw;
        
    }
    75%{
        transform: scale(.9,1.1);
        top: -20px;
        left: 75vw;
    }
    76%{
        transform: scale(1.05,.95);
    }
    80%{
        transform: scale(1,1);
        top: 0;
        left: 80vw;
        
    }
    81%{
        top: 0;
        left: 80vw;
        
    }
    85%{
        transform: scale(.9,1.1);
        top: -20px;
        left: 85vw;
    }
    86%{
        transform: scale(1.05,.95);
    }
    90%{
        transform: scale(1,1);
        top: 0;
        left: 90vw;
        
    }
    91%{
        top: 0;
        left: 90vw;
        
    }
    95%{
        transform: scale(.9,1.1);
        top: -20px;
        left: 95vw;
    }
    96%{
        transform: scale(1.05,.95);
    }

    100%{
        transform: scale(1,1);
        top: 0;
        left: 100vw;
    }
}

.jumping-pawn-wrapper{
    width: inherit;
    overflow: hidden;
   padding-top: 25px;
}

.jumping-pawn{
    color: var(--black);
    position: relative;
    animation-name: jump;
    animation-duration: 5s;
    animation-timing-function:  ease, step-start, cubic-bezier(0, 0.69, 0.4, 1.4);
    animation-iteration-count: infinite;
}

@media all and (min-width: 700px){
    h1{
        font-size: 6vw;
    }
}
